<%- include('top') %>
    <div>
      <h1>הוספת ערכי בדיקות</h1>
      <h2>בחר מטופל</h2>
      <select name="" id="selectUser"></select>
      <label for=""><input type="text" /></label>
      <label for=""><input type="text" /></label>
      <label for=""><input type="text" /></label>
    </div>
    <%- include('bottom') %>