<%- include('top') %>

<div class="container">
  <h1> 住 转  砖转砖</h1>

  <form id="summaryForm" onsubmit="fetchUsersSummary(event)">
    <label>砖: <input type="number" id="month" min="1" max="12" required></label>
    <label>砖: <input type="number" id="year" min="2000" max="2100" required></label>
    <button type="submit"> 爪 转</button>
  </form>

  <h3>转 砖转砖</h3>
  <table border="1">
    <thead>
      <tr>
        <th>砖</th>
        <th>爪注 注专 </th>
        <th>爪注 注专 </th>
        <th>爪注 驻拽</th>
        <th>转 专转 - </th>
        <th>转 专转 - </th>
        <th>转 专转 - 驻拽</th>
      </tr>
    </thead>
    <tbody id="usersTable">
      <tr><td colspan="7"> 专 砖 砖 爪 转爪转</td></tr>
    </tbody>
  </table>
</div>

<script src="/js/summaryScript.js"></script>

<%- include('bottom') %>