name: Deploy Node App
on:
  push:
    branches: [ "main" ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      # בניית האימג' ושליחה
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: itai1989/node-sql-app:latest
          platforms: linux/amd64,linux/arm64
      
      # העתקת קובץ ה-compose לשרת
      - name: Copy docker-compose
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "docker-compose.yml"
          target: "/home/ubuntu"
      
      # הפעלה בשרת
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # משיכת הגרסה החדשה
            docker-compose pull
            # הרצה מחדש
            docker-compose up -d